<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>List of Contact</h1>
    <tr th:each="contact: ${contacts}">
      <td>
       <!--<a
          data-th-href="@{'/contact/' + ${contact}}"
          data-th-text="${contact}"
        ></a USING LIST--> 
        <a
        data-th-href="@{'/contact/' + ${contact.id}}"
        data-th-text="${contact.id}"

      ></a
        ><br />
      </td>
    </tr>
  </body>
</html>
